.capsule-box{}

.circle{}

.capsule-box > * {
  position: relative;
  top: -1px;
  left: -1px;
}

.sizable{
  display: inline-block;
  transition: all 200ms;
}

.thin-border{
  border-width: 1px;
  border-style: solid;
}