.big {
  font-size: 40px;
}

.light-red {
  color: #fc7f82;
}

.light-red:hover {
  color: #52fcbb;
}

.font18 {
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.margin-r20 {
  margin-right: 20px;
}

.big-red-title {
  composes: big;
  composes: light-red;
}

.comp-tab {
  composes: font18;
  composes: bold;
  composes: margin-r20;
}
